* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: inter;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

/* navbar */
#navbar {
    padding: 5px 2px;
    border-bottom: 1px solid #E2E8F0;

}

#navbar .wrapper {
    display: flex;
    justify-content: space-between;

}

.navbar-left {
    display: flex;
    align-items: center;

}

#navbar .navbar-left .logo img {
    width: 31px;
    height: 40px;
}

#navbar .navbar-left h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

#navbar .navbar-right {
    display: flex;
    gap: 10px;

}

#navbar .navbar-right .btn1 {
    padding: 10px 15px;

}

#navbar .navbar-right .btn2 {
    padding: 15px 13px;
    background-color: rgb(60, 60, 95);
    color: white;
}

/* spotlight */

#spotlight {
    padding-bottom: 5%;
}

#spotlight .spotlight-contend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

#spotlight .spotlight-contend .spotlight-left {}

#spotlight .spotlight-contend .spotlight-left h1 {

    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    padding-bottom: 10px;

}

#spotlight .spotlight-contend .spotlight-left h5 {

    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    padding-bottom: 10px;
}

#spotlight .spotlight-contend .spotlight-left .spt-btn {
    padding: 20px 25px;
    background-color: #3B82F6;
    border: none;
    border-radius: 8px;
    gap: 6px;
    color: white;
}

#spotlight .spotlight-contend .spotlight-right {}

/* coures */
#coures {
    padding: 50px;
    background-color: #F8FAFC;
}

#coures .coures-num {
    display: flex;
    justify-content: space-between;

    padding: 50px 0 50px 0;

}

#coures .coures-num .coures-num-1 {
    /* border-right: solid gray; */
    /* padding-right: 5px; */

    text-align: center;
    padding: 5px;
}

#coures .coures-num span {
    border-right: 5px solid #e2e8f0;
    height: 10vh;
    border-radius: 10px;
}

#coures .coures-num .coures-num-1 h4 {
    font-size: 32px;
    font-weight: 600;
}

#coures .coures-num .coures-num-1 h5 {
    font-size: 14px;
    font-weight: 400;
}

/* categry*/

#categry {
    padding-top: 5%;

}

#categry .top-categories {}

#categry .top-categories .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#categry .top-categories .top h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;


}

#categry .top-categories .bottom {
    display: flex;
    justify-content: space-between;
}

#categry .top-categories .bottom .astrology {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    padding: 24px 93px 24px 93px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #f4f6f9;
}

#categry .top-categories .bottom .astrology .astro-img {
    background: #E0F2FE;
    border-radius: 100%;
    padding: 20px;

}

#categry .top-categories .bottom .astrology h5 {}

#categry .top-categories .bottom .astrology p {}

/* top-coureses */

#top-courses {
    padding-top: 40px;

}

#top-courses .top-courses {
    padding-bottom: 5%;



}

#top-courses .top-courses .top-courses-top {
    padding-bottom: 25px;


}

#top-courses .top-courses .top-courses-top h3 {
    font-weight: 600;
    font-size: 24px;

}

#top-courses .top-courses .top-courses-bottom {
    display: flex;
    justify-content: space-between
}

#top-courses .top-courses .top-courses-bottom .beginner {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

#top-courses .top-courses .top-courses-bottom .beginner .course-img {}

#top-courses .top-courses .top-courses-bottom .beginner h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #0F172A;

}

#top-courses .top-courses .top-courses-bottom .beginner p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;

}

#top-courses .top-courses .top-courses-bottom .beginner .hours {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;

}

#top-courses .top-courses .top-courses-bottom .beginner .doller {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0F172A;

}

/* instructors */

#instructors {
    padding-bottom: 5%;

}

#instructors .instructor-h3 h3 {
    font-size: 24px;
    font-weight: 600;

}

#instructors .top-instructors {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#instructors .top-instructors .instructors-list {
    border: 1px solid #E2E8F0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 2;
    width: 212px;
    height: 281px;
    box-shadow: 1px 1px 1px 1px #e2e8f0;

}

#instructors .top-instructors .instructor-list .instructors-img {}

#instructors .top-instructors .instructor-list .instructors-img img {}

#instructors .top-instructors .instructor-list h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28.8px;
    color: #0F172A;



}

#instructors .top-instructors .instructor-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;



}

#instructors .top-instructors .instructors-list .star {

    padding: 10px;

}

#instructors .top-instructors .instructor-list .star .rate {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
    color: #191924;




}

#instructors .top-instructors .instructors-list .star .st {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
    color: #191924;

}

/* customer */
#customer {
    background: #F8FAFC;
    padding: 5% 5%;


}

#customer .customer-1 {
    display: flex;
    gap: 10px;
    padding: 1%;
}

#customer .customer-1 .customer-container {
    border: solid 1px #E2E8F0;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    width: 50% ;

    
}

#customer .customer-top {
    display: flex;
    justify-content: space-between;

}

#customer .customer-top h3 {
    padding-bottom: 3%;
    font-size: 24px;
    font-weight: 600;

}

#customer .customer-top .arrow-img {
    display: flex;
    gap: 20px;
}

#customer .customer-top .arrow-img img {
    background-color: #94a3b8;
    width: 40px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px 8px 8px 8px;


}

#customer .customer-1 .customer-container .jane {
    display: flex;
    flex-direction: column
}

#customer.customer-1 .customer-container .jane .quote {
   
}

#customer .customer-1 .customer-container .jane .quote img {
    border-radius: ;


}

#customer .customer-1 .customer-container .jane p {

    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    margin-top : 10px;


}

#customer .customer-1 .customer-container .customer-bottom {
    padding-top: 8px;
    gap: 10px;
    display: flex;

}

#customer .customer-1 .customer-container .customer-bottom .span-7 {}

#customer .customer-1 .customer-container .customer-bottom .span-7 img {
    border-radius: 50px;

}

#customer .customer-1 .customer-container .customer-bottom .name .jane {

    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;




}

#customer .customer-1 .customer-container .customer-bottom .name p {}


/* textmonial */

#textmonial {
    padding: 30px 0px;
}

#textmonial .monial-top {
    display: flex;
    align-items: center;
    gap: 10%;
}

#textmonial .monial-top .img-top {}

#textmonial .monial-top img {}

#textmonial .monial-top .monial-text {

}

#textmonial .monial-top .monial-text h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;

}

#textmonial .monial-top .monial-text .monial-btn {
    padding: 10px 24px 10px 24px;
    background-color: #020617;
    color: white;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

#textmonial .monial-top .monial-text .monial-btn .img-arrow {
    margin-top: 5px;
}

#textmonial .monial-top .monial-text h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin: 5px;
}

#textmonial .monial-top-text .monial-top .monial-top-btn {}

#textmonial {}

#textmonial .monial-bottom {
    display: flex;
}

/* footer */

#footer {
    
}

#footer .ft-bg {
    background: #1E293B;
    padding: 50px 0px;
    color: white;

}

#footer .ft-bg .ft-list {
    display: flex;
    justify-content: space-between;
}

#footer .ft-bg .ft-list h5 {
    color: #F1F5F9;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
}

#footer .ft-bg .ft-list h6 {
    color: #CBD5E1;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
}

#footer .ft-bg .ft-list p {


    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #CBD5E1;

}

#footer .ft-bg .ft-list .f-4 .media {}

#footer .ft-bg .ft-list .f-4 .media img {}