* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

/* navbar */
#navbar {
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #E2E8F0;
}

#navbar .header{
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

#navbar .navbar-left .logo img {
    cursor: pointer;
    display: block;
    width: 100%;
}
#navbar .navbar-left .logo{
    width: 31px;
    height: 40px;
}

#navbar .navbar-left h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

#navbar .wrapper .header .navbar-right {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

}
#navbar .navbar-right .cart{
    width:.24px;
    height: 24px;
    padding-right: 24px;

}

#navbar .navbar-right .btn1 {
    height: 40px;
    width: 61px;
    padding: 10px ;
    border: 1px solid #334155;
    height: 40px;
    width: 61px;
    padding: 10px ;
    border: 1px solid#334155;
    color: #334155;
    cursor: pointer;
    font-weight: 500;
}

#navbar .navbar-right .btn2 {
    height: 40px;
    width: 73px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #334155;    
    cursor: pointer;
    font-family: "Inter",sans-serif;
}

#navbar .navbar-right img {
    cursor: pointer;
}

/* spotlight */

#spotlight {
    padding-bottom: 5%;
}

#spotlight .spotlight-contend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

#spotlight .spotlight-contend .spotlight-left {}

#spotlight .spotlight-contend .spotlight-left h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    padding-bottom: 10px;
    color: #0F172A;


}

#spotlight .spotlight-contend .spotlight-left h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    padding-bottom: 10px;
    width: 50%;
    color: #334155;

}

#spotlight .spotlight-contend .spotlight-left .spt-btn {
    padding: 20px 25px;
    background-color: #3B82F6;
    border: none;
    border-radius: 8px;
    gap: 6px;
    color: white;
    cursor: pointer;
}

#spotlight .spotlight-contend .spotlight-right {
    width: 70%
}
#spotlight .spotlight-contend .spotlight-right img{
    width: 100%
}
/* coures */
#coures {
    padding: 50px;
    background-color: #F8FAFC;
}

#coures .coures-num {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

    padding: 50px 0 0;

    /* padding: 40px 80px 40px 80px; */
}

#coures .coures-num .coures-num-1 {
    display: ;
    text-align: center;
    padding: 5px;
    gap: 6px;
}

#coures .coures-num span {
    border-right: 5px solid #e2e8f0;
    height: 10vh;
    border-radius: 10px;
}

#coures .coures-num .coures-num-1 h4 {
    font-size: 32px;
    font-weight: 600;
    font-size: 20px;
    color:#0F172A;
}

#coures .coures-num .coures-num-1 h5 {
    font-size: 14px;
    font-weight: 400;
    color: #0F172A;

}

/* categry*/

#categry {
    padding-top: 5%;

}

#categry .top-categories {}

#categry .top-categories .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

#categry .top-categories .top h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    color: #0F172A;



}

#categry .top-categories .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;

}

#categry .top-categories .bottom .astrology {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    padding: 24px 93px 24px 93px;
    text-align: center;
    line-height: 30px;
    border-radius: 16px;
    box-shadow:0px 0px 8px 0px #3B82F61F;
    margin-bottom: 10px;

}

#categry .top-categories .bottom .astrology .astro-img {
    background: #E0F2FE;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px ;
    height: 100px;
}
#categry .top-categories .bottom .astrology .astro-img img {
    display: block;
    height: 40px;
    width: 40px;
}

#categry .top-categories .bottom .astrology h5 {}

#categry .top-categories .bottom .astrology p {}

/* top-coureses */

#top-courses {
    padding-top: 40px;

}

#top-courses .top-courses {
    padding-bottom: 5%;
}

#top-courses .top-courses .top-courses-top {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

#top-courses .top-courses .top-courses-top h3 {
    font-weight: 600;
    font-size: 24px;
    color: #0F172A;
}

#top-courses .top-courses .top-courses-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px
  
}

#top-courses .top-courses .top-courses-bottom .beginner {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    width: 100%;
    box-shadow:0px 0px 8px 0px #3B82F61F;
    gap: 5px;
}

#top-courses .top-courses .top-courses-bottom .beginner .course-img {
    margin-bottom:10px ;
}

#top-courses .top-courses .top-courses-bottom .beginner h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #0F172A;

}

#top-courses .top-courses .top-courses-bottom .beginner p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;

}

#top-courses .top-courses .top-courses-bottom .beginner .hours {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;

}

#top-courses .top-courses .top-courses-bottom .beginner .doller {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0F172A;

}

/* instructors */

#instructors {
    padding-bottom: 5%;

}
#instructors .instructor-h3{
    display: flex;
    justify-content: space-between;
}

#instructors .instructor-h3 h3{
    font-size: 24px;
    font-weight: 600;
 

}

#instructors .top-instructors {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* justify-content: space-between; */
    padding-top: 20px;
}

#instructors .top-instructors .instructors-list {
    border: 1px solid #E2E8F0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 2;
    width: 212px;
    height: 281px;
    /* box-shadow: 1px 1px 1px 1px #e2e8f0; */
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 0px #3B82F61F;


}

#instructors .top-instructors .instructor-list .instructors-img {}

#instructors .top-instructors .instructor-list .instructors-img img {}

#instructors .top-instructors .instructor-list h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28.8px;
    color: #0F172A;



}

#instructors .top-instructors .instructor-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #334155;
}
#instructors .top-instructors .instructor-list hr{
  
    
}
#instructors .top-instructors .instructors-list .star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

#instructors .top-instructors .instructor-list .star .rate {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
    color: #191924;




}

#instructors .top-instructors .instructors-list .star .st {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
    color: #334155;

}

/* customer */
#customer {
    background: #F8FAFC;
    padding: 5% 5%;


}

#customer .wrapper .customer-1 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* padding: 1%; */
    width: 100%;
}

#customer .customer-1 .customer-container {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #E2E8F0;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    width: 32%;
    box-shadow: 0px 0px 8px 0px #3B82F61F;



}

#customer .customer-top {
    display: flex;
    justify-content: space-between;

}

#customer .customer-top h3 {
    padding-bottom: 3%;
    font-size: 24px;
    font-weight: 600;

}

#customer .customer-top .arrow-img {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

#customer .customer-top .arrow-img img {
    background-color: #94a3b8;
    width: 40px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px 8px 8px 8px;


}

#customer .customer-1 .customer-container .jane {
    display: flex;
    flex-direction: column
}

#customer.customer-1 .customer-container .jane .quote {}

#customer .customer-1 .customer-container .jane .quote img {}

#customer .customer-1 .customer-container .jane p {

    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    margin-top: 10px;
}

#customer .customer-1 .customer-container .customer-bottom {
    padding-top: 8px;
    gap: 10px;
    display: flex;

}

#customer .customer-1 .customer-container .customer-bottom .span-7 {}

#customer .customer-1 .customer-container .customer-bottom .span-7 img {
    border-radius: 50px;

}

#customer .customer-1 .customer-container .customer-bottom .name .jane {

    /* font-size: 18px; */
    font-weight: 600;
    line-height: 28.8px;




}

#customer .customer-1 .customer-container .customer-bottom .name p {
    color: #334155;
}


/* textmonial */

#textmonial {
    padding: 30px 0px;
}

#textmonial .monial-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10%;
}

#textmonial .monial-top-2 {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 10%;
}

#textmonial .monial-top .img-top {}

#textmonial .monial-top img {}

#textmonial .monial-top .monial-text {}

#textmonial .monial-top .monial-text h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;

}

#textmonial .monial-top-2 .monial-text h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;

}

#textmonial .monial-top .monial-text .monial-btn {
    padding: 10px 24px 10px 24px;
    background-color: #020617;
    color: white;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

#textmonial .monial-top-2 .monial-text .monial-btn {
    padding: 10px 24px 10px 24px;
    background-color: #020617;
    color: white;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

#textmonial .monial-top .monial-text .monial-btn .img-arrow {
    margin-top: 5px;
}

#textmonial .monial-top .monial-text h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    padding-bottom: 8px;
    
}

#textmonial .monial-top-2 .monial-text h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    padding-bottom: 8px;
}

#textmonial .monial-top-text .monial-top .monial-top-btn {}

#textmonial {}

#textmonial .monial-bottom {
    display: flex;
}

/* footer */

#footer {}

#footer .ft-bg {
    background: #1E293B;
    padding: 50px 0px;
    color: white;

}

#footer .ft-bg .ft-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#footer .ft-bg .ft-list h5 {
    color: #F1F5F9;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
}

#footer .ft-bg .ft-list h6 {
    color: #CBD5E1;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    margin-bottom: 10px;
}

#footer .ft-bg .ft-list p {

    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #CBD5E1;

}

#footer .ft-bg .ft-list .f-2{
    gap: px;
}

#footer .ft-bg .ft-list .f-4 .media img {}



/* responsive */

@media (max-width: 1295px) {
    #top-courses .top-courses .top-courses-bottom {
        gap: 3px;
    }

}

@media(max-width: 1280px) {
    #top-courses .top-courses .top-courses-bottom {
        /* gap: 50px; */

    }

    #customer .customer-1 {
        width: 100%;
    }

    #customer .customer-1 .customer-container {
        width: 48%;
    }

}

@media (max-width:1224px) {
    #textmonial .monial-top-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #textmonial .monial-top {
        display: flex;
        flex-direction: column;
    }

    #textmonial .monial-top .img-top img {
        width: 80%;
    }

    #textmonial .monial-top-2 .img-top img {
        width: 80%;
    }

    #top-courses .top-courses .top-courses-bottom {
        gap: 50px;
    }

}
@media (max-width: 1100px) {
    #top-courses .top-courses .top-courses-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
    
}

@media (max-width:1080px) {
    #customer .customer-1 .customer-container {
        width: 50%;
    }

    #spotlight .spotlight-contend .spotlight-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #top-courses .top-courses .top-courses-bottom {
        /* gap :20%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    #spotlight .spotlight-contend .spotlight-left h1 {}

    #spotlight .spotlight-contend .spotlight-left h5 {
        width: 100%;

    }


}

@media (max-width: 980px) {
    #top-courses .top-courses .top-courses-bottom {
        /* gap :20%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    #customer .customer-1 .customer-container .jane p {
        font-size: 15px;
    }

    #textmonial .monial-top {
        margin-bottom: 10px;
    }

    #instructors .top-instructors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 768px) {
    #customer .customer-1 .customer-container {
        /* display: flex;
        flex-wrap: wrap; */
    }

    #customer .customer-1 .customer-container {
        width: 100%;
    }

    #customer .customer-1 .customer-container {
        width: 100%;
    }
    #coures .coures-num .line-2{
        display: none;

    }
}

@media (max-width: 640px) {
    #instructors .top-instructors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 50%; */

    }

    #top-courses .top-courses .top-courses-bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #spotlight .spotlight-contend .spotlight-right img{
        width: 50%;
    }
    #coures .coures-num .line-1{
        display: none;

    }
    #coures .coures-num .line-3{
        display: none;

    }
    #coures .coures-num {
        display: flex;
        justify-content: center;
    }
    #spotlight .spotlight-contend {
        display: flex;
        flex-direction: column-reverse;
    }
    #spotlight .spotlight-contend .spotlight-left h1 {
        font-size: 40px;
    }
    #spotlight .spotlight-contend .spotlight-left h5 {
        font-size: 15px;
    }
    #top-courses .top-courses .top-courses-bottom .beginner{
        margin: 0 auto;


    }
    #top-courses .top-courses .top-courses-bottom .beginner.course-img img{
        width: 100%; 
    }

}
@media (max-width:540px) {
    #instructors .top-instructors {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */
    }

    #top-courses .top-courses .top-courses-bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #top-courses .top-courses .top-courses-bottom .beginneá¹› {
        width: %;
    }

    #spotlight .spotlight-contend .spotlight-left h1 {
        font-size: 35px;
        padding-top: 5px;
    }
    #spotlight .spotlight-contend .spotlight-left h5{
        font-size: 13px;
    }
    #spotlight .spotlight-contend .spotlight-right img{
        /* width: 100%; */
    }
    #coures .coures-num .coures-num-1{
        margin-bottom: 10px;
    }



}

@media(max-width: 612px) {
    #categry .top-categories .bottom {
        justify-content: center;
    }
}